/* Denna fil skall innehålla din CSS kod */
@media only screen and (max-width: 600px) {
#container {
    display:grid;
    height:100vh;
    grid-gap: 10px;
    grid-template-rows: 100px 30px auto 150px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas:
   'hd hd hd hd'
   'mn mn mn mn'
   'as as as as'  
}

#header {
    grid-area: hd;
    background-color: brown;
}

#nav {
    grid-area: nv;
    background-color: cornflowerblue;
}

#aside {
    grid-area: as;
    background-color: orangered;
}

#main {
    grid-area: mn;
    background-color: peru;
}

#footer {
    grid-area: ft;
    background-color: silver;
}
}