/* Denna fil skall innehålla din CSS kod */
@media only screen and (max-width: 600px) {
#outer-grid {
    display:grid;
   /* height:100vh;
    grid-gap: 10px;
    grid-template-rows: 100px 30px auto 150px;
    grid-template-columns: 2fr 1fr 1fr 1fr;*/
    height:100vh;
    grid-template-columns: 2fr 1fr;
    background-color: white ;
    grid-gap: 12px;
    grid-template-areas:
    
   
   'hd hd'
   'mn mn'
   'nv nv'
   'as as'
   'ft ft';
    
}

header {
    grid-area: hd; 
    text-align: center;
    font-size: 65px;
    background-color: rgb(191, 231, 178);
    height: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div-1 {
    grid-area:nv;
    background-color: rgb(191, 231, 178);
    height:100px;
    text-align: center;
}

#inner-grid {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;

}

#inner-grid > div{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

div-2{
    grid-area:as;
    background-color: rgb(191, 231, 178);
    text-align:center ;
}
div-3 {
    grid-area:mn;
    background-color: rgb(191, 231, 178);
    height: 500px;
    text-align: center;
}
div-4 {
    grid-area:ft;
    background-color: rgb(191, 231, 178);
    height: 200px;
    text-align: center;
}
}